#headExecution{
	background-color:white;
	font-size:300%;
}
#projectExecution{
	text-align: center;
	font-size:150%;
}
#piechartExcution{
	float: left;
	width:50%;
	height:80%;
}
#chartareaExcution{
	float: right;
	width:50%;
	height:80%;
}
.chartExecution{
	text-align: center;
}